body{
  margin: 0;
  background-color:#d0e8f2;
  text-align: center;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Niconne', cursive;
  color: #65d6ce;
  font-size: 90px;
}
.sibghat{
  height: 160px;
}
.second-head{
  font-weight: normal;
}
p{
  font-family: 'Merriweather', serif;
}
h3{
  font-family: 'Langar', cursive;
  font-size: 2.5rem;
    color: #65d6ce;
}
h2{
  color: #11999E;
}
a{
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-width: 10px;
  border-color:#11999E;
  width: 10%;
  margin: 15px auto;

}
.skill-row1{
  width: 50%;
  margin: auto;
  line-height: 2;
}
.web-development{
  width:60%;
}
.skill-row2{
  width:50%;
  margin:auto;
  line-height: 2;
  position: relative;
  bottom: 10px;
}
.Motion-Designer{
  width:60%;
}
.video-animation{
  line-height: 1;
}
.top-container{
    background-color: #d0e8f2;
    padding-top: 100px;
    position: relative;

}

.middle-container{
  background-color: #d0e8f2;
}
.profile{
  width:50%;
  margin:auto;
  line-height: 2;

}
.contact-me{
  width: 50%;
  margin:auto;
  line-height: 2;
}
.bottom-container{
  background-color: #6FBFBF;
  padding: 50px 0 20px;
}
.copyright{
  color:#EAF6F6;
  font-size:0.8rem;
  padding: 20px 0;
}

.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:300px;
}
.top-cloud{
  position: absolute;
  top:50px;
  right:300px;
}
.BUTTON {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   height: 40px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: Arial;
   width: 140px;
   font-size: 19px;
   font-weight: 200;
   padding: 0;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: -64px -32px 20px #000000;
   border: #30E3CB ;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON:hover {
   border: #30E3CB;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   text-decoration: none;
}
